.products{
    padding-top: 120px;
    padding-bottom: 100px;
}

.products__pre-title{
    font-size: 50px;
}

.products__title{

}

.products-list{
    // position: relative;
    // position: absolute;
    // z-index: 5;
}

.products-list__item{
    // position: absolute;
    text-align: center;
    width: 280px;
    height: 485px;
    &::before{
        content: "";
        display: block;
        background-image: url(../images/home-pic1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
    }
}

.products-list__img{
    // position: absolute;
    // z-index: 5;
}

.products-list__dots-wrapper{
    display: flex;
}

.products-list__dots{
    display: block;
    height: 60px;
    width: 60px;
    color: white;
    background: wheat;
    border-radius: 50%;
    border: 6px;
}

.products-list__title{
    // position: absolute;
}

.products-list__text{
// position: absolute;
}

.products-list__btn{
// position: absolute;
}

// .products-list__wrapper{
//     // content: "";
//     // position: absolute;

//     // display: block;
//     width: 100%;
//     top: 0;
//     right: 0;
//     // width: 280px;
//     // height: 485px;

//     // background: #FFB8CA;
//     // border-radius: 24px;
//     z-index: 5;

// }

.products-list__wrapper::before{
    content: "";
    // position: relative;
    position: absolute;
    display: block;
    
    
    width: 280px;
    height: 485px;

    background: #FFB8CA;
    border-radius: 24px;
    z-index: -1;
}
